{% extends "blog/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <h2>Registration</h2>
            <form method="post" class="post-form" >{% csrf_token %}

                {{ form.as_p }}
                <button type="submit" class="btn btn-default"><span
                        class="glyphicon glyphicon-ok"></span></button>
            </form>
        </div>

    </div>

{% endblock %}

{% block sidebar %}
    <a class="btn btn-default " role="button" href="{% url 'django.contrib.auth.views.login' %}" style="color: #2e284c ">Login</a>
{% endblock %}

