{% load staticfiles %}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" crossorigin="anonymous"
            type="text/javascript"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Myblog</title>
    <link rel="shortcut icon" href="{% static 'graphics/favicon.ico' %}" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'post_list' %}" style="color: #0d97fc">MyBlog</a>

        <ul class="nav navbar-nav navbar-right">

            {% if user.is_authenticated %}
                <li><a href="{% url 'post_new' %}"><span title="New post" class="glyphicon glyphicon-edit"></span></a>
                </li>
                <li><a href="{% url 'post_my' pk=user.pk %}"><span title="My posts"
                                                                   class="glyphicon glyphicon-book"></span></a></li>
                <li><a href="{% url 'post_list' %}"><span title="All posts" class="glyphicon glyphicon-th-large"></span></a>
                </li>

                {% if user.is_superuser %}
                    <li><a href="{% url 'post_draft_list' %}"><span title="Draft posts" style="color: #eeb1fc"
                                                                    class="glyphicon glyphicon-list"></span></a>
                    </li>
                {% endif %}
            {% endif %}

            {% if not user.is_authenticated %}
                <li><a href="{% url 'post_list' %}"><span title="All posts" class="glyphicon glyphicon-th-large"></span></a>
                </li>
            {% endif %}

            {% if user.is_authenticated %}
                <li><a href="{% url 'django.contrib.auth.views.logout' %}">
                    <span title="Log out"
                          style=" color: {% if user.is_superuser %} #eeb1fc {% else %} #0d97fc {% endif %}"
                          class="glyphicon glyphicon-user">  Hello, {{ user.username }}</span></a>
                </li>
            {% else %}
                <li><a href="{% url 'django.contrib.auth.views.login' %}"><span title="Log in"
                                                                                style="color: rgba(127, 136, 130, 0.49)"
                                                                                class="glyphicon glyphicon-user"></span></a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-md-4">
            {% block sidebar %}
            {% endblock %}
        </div>

    </div>
</div>
</body>
</html>