{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                Created: {{ post.created_date }}
            </div>

            {% if not post.published_date %}
                {% if user.is_superuser %}
                    <a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">
                        <span title="Publish" class="glyphicon glyphicon-ok"></span>
                    </a>
                    <a class="btn btn-default" href="{% url 'post_reject' pk=post.pk %}">
                        <span title="Reject" class="glyphicon glyphicon-ban-circle"></span>
                    </a>
                {% endif %}
            {% endif %}

            {% if post.author_id == user.id or user.is_superuser %}
                {% if not post.reject_text > '' %}
                    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                        <span title="Edit" class="glyphicon glyphicon-pencil"></span>
                    </a>
                {% endif %}

                <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
                    <span title="Delete" class="glyphicon glyphicon-trash"></span>
                </a>
            {% endif %}

            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>

            <p>{{ post.text|linebreaks }}</p>
        </div>
    {% endfor %}
{% endblock content %}

{% block sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">Search draft posts by</div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#caterories">Categories</a></li>
                <li><a data-toggle="tab" href="#date">Date</a></li>
            </ul>
            <div class="tab-content">

                <div id="caterories" class="tab-pane fade in active">
                    <ul class="list-group">
                        {% for category in categories %}
                            <li class="list-group-item"><a
                                    href="{% url 'post_draft_search_categories' pk=category.pk %}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="date" class="tab-pane fade">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'post_draft_search_date' pk=1 %}">Day</a></li>
                        <li class="list-group-item"><a href="{% url 'post_draft_search_date' pk=7 %}">Week</a></li>
                        <li class="list-group-item"><a href="{% url 'post_draft_search_date' pk=31 %}">Month</a></li>
                        <li class="list-group-item"><a href="{% url 'post_draft_search_date' pk=366 %}">Year</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock sidebar %}