{% extends 'blog/base.html' %}

{% block content %}
    <h1>Text of rejection</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default"><span
                class="glyphicon glyphicon-floppy-disk"></span></button>
    </form>
{% endblock %}