{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">

            <div class="date">
                {% if post.published_date %}
                    {{ post.published_date }}
                {% else %}
                    Created: {{ post.created_date }}
                {% endif %}
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>

            <p>{{ post.text|truncatechars:600 }}</p>
            {% if not post.published_date %}
            {% if post.reject_text %}
                {% if not post.reject_text == '' %}
                    <div class="alert alert-danger" role="alert">
                        <h3>Text of rejection</h3>

                        <p>{{ post.reject_text|linebreaks }}</p>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
        </div>
    {% endfor %}
{% endblock content %}

{% block sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">Search my posts by</div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#caterories">Categories</a></li>
                <li><a data-toggle="tab" href="#date">Date</a></li>
            </ul>
            <div class="tab-content">

                <div id="caterories" class="tab-pane fade in active">
                    <ul class="list-group">
                        {% for category in categories %}
                            <li class="list-group-item"><a
                                    href="{% url 'post_my_search_categories' pk_user=user.id pk=category.pk %}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="date" class="tab-pane fade">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'post_my_search_date' pk_user=user.id pk=1 %}">Day</a></li>
                        <li class="list-group-item"><a href="{% url 'post_my_search_date' pk_user=user.id pk=7 %}">Week</a></li>
                        <li class="list-group-item"><a href="{% url 'post_my_search_date' pk_user=user.id pk=31 %}">Month</a></li>
                        <li class="list-group-item"><a href="{% url 'post_my_search_date' pk_user=user.id pk=366 %}">Year</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock sidebar %}