{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>

            <p>{{ post.text|truncatechars:600 }}</p>
        </div>
    {% endfor %}
{% endblock content %}

{% block sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">Search posts by</div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#caterories">Categories</a></li>
                <li><a data-toggle="tab" href="#date">Date</a></li>
            </ul>
            <div class="tab-content">

                <div id="caterories" class="tab-pane fade in active">
                    <ul class="list-group">
                        {% for category in categories %}
                            <li class="list-group-item"><a
                                    href="{% url 'post_search_categories' pk=category.pk %}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="date" class="tab-pane fade">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'post_search_date' pk=1 %}">Day</a></li>
                        <li class="list-group-item"><a href="{% url 'post_search_date' pk=7 %}">Week</a></li>
                        <li class="list-group-item"><a href="{% url 'post_search_date' pk=31 %}">Month</a></li>
                        <li class="list-group-item"><a href="{% url 'post_search_date' pk=366 %}">Year</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock sidebar %}