{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <div class="page-header">
            <h1>{{ post.title }}</h1>
        </div>
        <p>{{ post.text|linebreaks }}</p>
        {% if not post.published_date %}
            {% if post.reject_text %}
                {% if not post.reject_text == '' %}
                    <div class="alert alert-danger" role="alert">
                        <h3>Text of rejection</h3>

                        <p>{{ post.reject_text|linebreaks }}</p>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {% if post.published_date %}
        <div>
            {{ post.published_date }}
        </div>
        <div>

            <a href="{% url 'post_search_categories' pk=post.category_id %}">{{ post.category }}</a>

        </div>
    {% else %}
        <div>
            Created: {{ post.created_date }}
        </div>
        <div>
            {% if post.reject_text > '' %}
                <a href="{% url 'post_my_search_categories' pk_user=user.id pk=post.category_id %}">{{ post.category }}</a>
            {% else %}
                <a href="{% url 'post_draft_search_categories' pk=post.category_id %}">{{ post.category }}</a>
            {% endif %}
        </div>
    {% endif %}
    {% if not post.published_date %}
        {% if user.is_superuser %}
            {% if not post.reject_text > '' %}
                <a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">
                    <span title="Publish" class="glyphicon glyphicon-ok"></span>
                </a>
                <a class="btn btn-default" href="{% url 'post_reject' pk=post.pk %}">
                <span title="Reject" class="glyphicon glyphicon-ban-circle"></span>
            </a>
            {% endif %}
        {% endif %}
    {% endif %}

    {% if post.author_id == user.id or user.is_superuser %}
        {% if not post.reject_text > '' %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                <span title="Edit" class="glyphicon glyphicon-pencil"></span>
            </a>
        {% endif %}

        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
            <span title="Delete" class="glyphicon glyphicon-trash"></span>
        </a>
    {% endif %}
{% endblock %}