body {
    /*padding-left: 25px;*/
}

body {
    padding-top: 70px;
}

/*h1 a {*/
/*color: #a70ffc;*/
/*font-family: 'DejaVu Sans', monospace;*/
/*}*/

/*.page-header {*/
/*background-color: rgb(46, 40, 76);*/
/*margin-top: 0;*/
/*padding: 20px 20px 20px 100px;*/
/*}*/

.registration {
    color: #a70ffc;
    font-family: 'DejaVu Sans', monospace;
    font-size: 20pt;
    float: right;
}

/*.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {*/
/*color: #8277a8;*/
/*font-size: 36pt;*/
/*text-decoration: none;*/
/*}*/

/*.content {*/
    /*margin-left: 80px;*/
/*}*/

/*h1, h2, h3, h4 {*/
/*font-family: 'DejaVu Sans',  monospace;*/
/*}*/

.date {
    float: right;
    color: #828282;
}

.date a:visited, .date a:active {
    color: black;
    text-decoration: none;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
    text-decoration: none;
}

a{
    color: #000000;
    text-decoration: none;
}

.navbar {
    background: #2e284c;
}